<!doctype html>
<html lang="en">
  <head>
  	<title>FARM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	
		<link rel="stylesheet" href="static/ionicons.min.css">
		<link rel="stylesheet" href="static/style.css">
  </head>
  <body>

		<section class="ftco-section" id="buttons">
			<div class="container">
				<div class="row mb-4">
					<div class="col-md-12">
						<h2 class="heading-section"> FARM CONTROL PANEL</h2>
					</div>
				</div>
				<div class="row mb-5">
					<div class="col-md-12 mb-2">
						<div class="row">
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-md-0 btn-primary btn-block">PRINTER 1 ON</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-md-0 btn-secondary btn-block">PRINTER 3 ON</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-md-0 btn-tertiary btn-block">PRINTER 3 ON</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-md-0 btn-quarternary btn-block">NASTRO ON</button>
							</div>
						</div>
					</div>
					<div class="col-md-12 mb-2">
						<div class="row">
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-md-0 btn-outline btn-block">PRINTER 1 OFF</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-md-0 btn-outline btn-block">PRINTER 2 OFF</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-md-0 btn-outline btn-block">PRINTER 3 OFF</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-md-0 btn-outline btn-block">NASTRO OFF</button>
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-5">
					<div class="col-md-12 mb-2">
						<div class="row">
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-md-0 btn-round btn-primary btn-block">FLUIDD 1</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-md-0 btn-round btn-secondary btn-block">FLUIDD 2</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-md-0 btn-round btn-tertiary btn-block">FLUIDD 3</button>
							</div>
						</div>
					</div>
					<div class="col-md-12 mb-2">
						<div class="row">
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-md-0 btn-round btn-outline btn-block">CREALITY CLOUD 1</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-md-0 btn-round btn-outline btn-block">CREALITY CLOUD 2</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-md-0 btn-round btn-outline btn-block">CREALITY CLOUD 3</button>
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-5">
					<div class="col-md-12 mb-2">
						<div class="row">
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-md-0 btn-primary btn-block">
		              <i class="ion-ios-camera mr-1"></i> CAMERA VIEW
		            </button>
	            </div>
	            <div class="col-md-3">
								<button type="button" class="btn mb-2 mb-md-0 btn-secondary btn-block">
		              OPTIONS <i class="ion-ios-heart ml-1"></i>
		            </button>
	            </div>
	            <div class="col-md-3">
								<button type="button" class="btn mb-2 mb-md-0 btn-tertiary btn-block">
		              <i class="ion-ios-heart mr-1"></i> USER MANUALS
		            </button>
	            </div>
	            <div class="col-md-3">
								<button type="button" class="btn mb-2 mb-md-0 btn-quarternary btn-block">
		              AFTER SALE SERVICES <i class="ion-ios-heart ml-1"></i>
		            </button>
	            </div>
						</div>
					</div>
					<div class="col-md-12 mb-2">
						<div class="row">
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-md-0 btn-outline btn-block">
		              <i class="ion-ios-heart mr-1"></i> UPDATES
		            </button>
	            </div>
	            <div class="col-md-3">
								<button type="button" class="btn mb-2 mb-md-0 btn-outline btn-block">
		              CHANGE PRINTERS <i class="ion-ios-heart ml-1"></i>
		            </button>
	            </div>
	            <div class="col-md-3">
								<button type="button" class="btn mb-2 mb-md-0 btn-outline btn-block">
		              <i class="ion-ios-heart mr-1"></i> TUTORIALS
		            </button>
	            </div>
	            <div class="col-md-3">
								<button type="button" class="btn mb-2 mb-md-0 btn-outline btn-block">
		              ABOUT <i class="ion-ios-heart ml-1"></i>
		            </button>
	            </div>
						</div>
					</div>
				</div>

				
	  <!-- - - - - -end- - - - -  -->

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>